*{
    margin: 0px;
    font-family: "Inter";
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 150px;
    padding-bottom: 100px;
    margin-top: 35px;
}

#menusuperior{
    background-image: url(imagens/fundo-menusuperior.svg);
    color: aliceblue;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icones{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.texto-informativo{
    display: flex;
    align-items: center; 
 }

 #titulovideo{
    color: #247BA0;
    margin-top: 50px;
 }

 #video{
    margin: 50px 25px 50px 300px;
 }

 #posicao{
    margin-right: 400px;
 }

 #carrossel{
    background-color: #247BA0;
    padding: 50px;
 }

 #titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    margin-left: 150px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.card{
   align-items: center;
    
}

#seta-esquerda{
    display: none;  
}

#seta-direita{
    
}

#bruna{
    display: none;
}

.seta{
    align-items: center;
    cursor: pointer;    
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;
}

#tituloFormulario{
font-size: 25px;
margin: 25px;
color: #383838;
}
input{
    width: 350px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;

}
button{
background-color: #247BA0;
width: 300px;
height: 40px;
border-radius: 8px;
border: 0px;
color: #FFFFFF;
margin-bottom: 50px;
margin: 15px;
font-weight: bolder;
cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #1f2d319d;
    transition-duration: 0.5s;


}